<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.csuci.appaca">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Appaca"
        android:allowBackup="true"
        android:icon="@mipmap/appaca_game_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appaca_game_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.SettingsActivity"></activity>
        <activity
            android:name=".activities.MinesweeperWinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FirstAlpacaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GameOverActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MinigameSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FruitCatchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AlpacaRunActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AlpacaJumpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MinesweeperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".notifications.NotificationService"
            android:enabled="true" />

        <receiver
            android:name=".notifications.RestartService"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="RestartService" />
            </intent-filter>
        </receiver>
    </application>

</manifest>